<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice].present? || flash[:error].present? || notice.present? || alert.present? %>
      <div class="notification is-marginless" id="app-notification">
        <button class="delete"></button>
        <%= flash[:notice] || flash[:error] || notice || alert %>
      </div>
    <% end %>

    <div class="main-columns columns is-marginless">
      <aside class="column is-3 menu has-background-light">
        <div class="menu-label">
          Website
        </div>
        <ul class="menu-list">
          <li><%= link_to 'Blog', posts_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
        <div class="menu-label">
          Social
        </div>
        <ul class="menu-list">
          <li><%= link_to 'Twitter', 'https://twitter.com/@nickjnish' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/nicknish' %></li>
          <li><%= mail_to 'nickjnish@gmail.com', 'Email' %></li>
        </ul>
      </aside>

      <div class="column is-9 is-paddingless">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <% if params[:controller] == 'posts' %>
              <div class="navbar-item">Posts</div>
              <% else %>
                <div class="navbar-item">About</div>
              <% end %>
            </div>
            <div class="navbar-end">
              <%= link_to 'New Post', new_post_path, class: 'navbar-item' %>
            </div>
          </div>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
